.App {
  
    p {
      font-size: 50px;

  }
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.movieItem {
  display: flex;
  flex-direction: column;

  margin: 1em;

}