@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

$main-background:#24323F;
$dark-background:#1A2634;
$accent-color:#21E18C;
$font-color:#FFFFFF;

/* font-family: 'Anton', sans-serif; 
font-family: 'Roboto', sans-serif;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -----Header------- */
header{
  color: $font-color;
  padding: 3em;
  display:flex;
  justify-content: space-around;
  background-color: $dark-background;
   
  h1{
    font-family: 'Anton', sans-serif;
    font-size: 2.5rem;
    display: flex;
    justify-content: left;
   /*  margin-left: 2%; */
    text-transform: uppercase;
    span{
      color:$accent-color;
    }
  }
  .search-box{
    width: 40%;
    display: flex;
    input{
       width: 80%;
       height: 3em;
    }
    .search-icon-box{
      width: 20%;
      img{
        width: 2em;
        color: $accent-color;
      }
    }
  }

  a:active, a:visited, a{
    text-decoration: none;
    color: $font-color;
    font-size: 3em;
  }
   
}

/* -----Main---------- */
main {
  background-color: $main-background;
  color: $font-color;
  padding: 4%;
  h1 {
    font-family: 'Anton', sans-serif; 
    font-size: 3rem;
    padding-left: 1%;
    font-weight: lighter;
  }
  .body-movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    a {
      text-decoration: none;
    }
  }
}

.movieItem {
  display: flex;
  flex-direction: column;
  margin: 1em;
  color: $font-color;
  text-decoration: none;
  border-style: none;
  position: relative;
  .vote {
    background: $accent-color;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 7px;
    top: 10px;
  }
  .release-genre {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
  }
  .name {
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    list-style: none;
    font-weight: lighter;
  }
}


/* -----Footer-------- */
.foot-style {
  background: $dark-background;
  color: $font-color;
  display: flex;
  align-items: center;
  padding: 2%;
  h1 {
    font-family: 'Anton', sans-serif;
    font-size: 2.5rem;
    display: flex;
    justify-content: left;
    margin-left: 2%;
    .dot {
      color: $accent-color;
      margin-right: 2%;
    }
  }
  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-left: 10%;
  }
  .socialmedia-icon {
    margin-left: 25%;
    a img {
      width: 35%;
      padding-right: 15px;
    }
  }
}

